<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Account Registration</title>
</head>
<body>
    <center><h1>Register Form for Student Goes Here</h1></center>
    <hr>
    <center>
        <form method="post">
            {% csrf_token %}
            {{ form1.as_p }}
            {{ form2.as_p }}
            <input type="reset" value="Clear">
            <input type="submit" value="Register">
        </form><br>
        <a href="{% url 'auth_app:register_teacher' %}">Not a student? Register as Teacher</a><br>
        <a href="{% url 'auth_app:login' %}">Already have an account?</a>
    </center>


</body>
</html>